<!doctype html>
<html>
  <head>
    <title>Page title</title>
  </head>
  <body>
    <h1>Most Recently Modified Notes</h1>
    {%- for note in collections.notes -%}
      <a href="{{ note.url }}">
        <div>
          <h3>{{ note.data.title | 'Untitled' }}</h3>
          <div>
            <span>Last Updated: {{ note.data.modified | default: 'n/a' }}</span>
            <span>First Created: {{ note.data.created | default: 'n/a' }}</span>
            <span>Tags: {{ note.data.tags | join: ', ' }}</span>
          </div>
        </div>
      </a>
    {%- endfor -%}
  </body>
</html>